<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test8()[pri:0, instance:TestCases@37918c79]">test8</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:28</td>   <td>-20700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test2()[pri:0, instance:TestCases@37918c79]">test2</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:46</td>   <td>-2755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test7()[pri:0, instance:TestCases@37918c79]">test7</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:22</td>   <td>-26648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test1()[pri:0, instance:TestCases@37918c79]">test1</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:55</td>   <td>6214</td> <td title="&lt;&lt;TestCases.afterSuite()[pri:0, instance:TestCases@37918c79]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:20</td>   <td>-29315</td> <td title="&gt;&gt;TestCases.beforeSuite()[pri:0, instance:TestCases@37918c79]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:29</td>   <td>-20003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test3()[pri:0, instance:TestCases@37918c79]">test3</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:35</td>   <td>-13900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test4()[pri:0, instance:TestCases@37918c79]">test4</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:42</td>   <td>-6864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test5()[pri:0, instance:TestCases@37918c79]">test5</td> 
  <td>main@1846406218</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>22/10/17 00:30:42</td>   <td>-6785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test6()[pri:0, instance:TestCases@37918c79]">test6</td> 
  <td>main@1846406218</td>   <td></td> </tr>
</table>
